{% extends 'base.html.twig' %}

{% block title %}Modifier Horaires{% endblock %}

{% block content %}

    <div class="formulaire mr-4 ml-4">
        <div class="card border-danger mb-3 mt-5" >
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <a href="{{ path('heures_gestion_admins') }}">
                            <img src="{{ asset('/build/images/return.svg') }}" class="button_return mt-3 ml-4"  alt="Retour"
                                 width="50px" height="50px">
                        </a>
                    </div>
                    <div class="col-4">
                        <h1 class="mt-2"> Edition des horaires de {{ referent.adherent.prenom }} {{ referent.adherent.nom }} </h1>
                    </div>
                </div>
            </div>
            <div class="card-body text-danger">

                {# Début du formulaire #}
                {{ form_start(form) }}


                {{ form_label(form.heuresGestionReferent,
                    "Nombre d'heures relevées") }}
                {{ form_widget(form.heuresGestionReferent, {'attr': {
                    'class': "mb-2 mt-1" }}) }}


                <div class="button_Formulaire">
                    <button type="submit" class="btn btn-outline-success mb-4 mt-3">Modifier les heures</button>
                </div>

                {# Fin du formulaire #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>





{% endblock %}
