{% extends 'base.html.twig' %}

{% block title %} {{rucher.nomRucher }}{% endblock %}

{% block content %}

<div class="formulaire mr-4 ml-4">
    <div class="card border-danger mb-4 mt-3" >
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <a href="{{ path('ruchers_index') }}">
                        <img src="{{ asset('/build/images/return.svg') }}" class="button_return mt-3 ml-4"  alt="Retour"
                             width="50px" height="50px">
                    </a>
                </div>
                <div class="col-4">
                    <h1 class="mt-2"> {{rucher.nomRucher}} </h1>
                </div>

                <div class="col-4">
                    {% if is_granted('ROLE_REFERENT') %}
                        <a href="{{ path('ruchers_edit', {'id': rucher.id}) }}">
                            <img src="{{ asset('/build/images/edit.svg') }}" class="button_edit mt-3 mr-4"  alt="Retour">
                        </a>
                        {{ include('ruchers/_delete_form.html.twig') }}
                    {% endif %}
                    <a href="{{ path('ruchers_index') }}">
                        <img src="{{ asset('/build/images/list.svg') }}" class="button_edit mt-3 mr-4"  alt="Liste des ateliers"
                             width="50px" height="50px">
                    </a>
                </div>

            </div>

        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom du rucher</th>
                        <td>{{ rucher.nomRucher }}</td>
                    </tr>
                    <tr>
                        <th>Description du rucher</th>
                        <td>{{ rucher.descriptionRucher }}</td>
                    </tr>
                    <tr>
                        <th>Emplacement</th>
                        <td>{{ rucher.lieuRucher }}</td>
                    </tr>
                    <tr>
                        <th>Partenaire du rucher</th>
                        {% if not rucher.partenaireRucher is empty %}
                            <td>{{ rucher.partenaireRucher }}</td>
                        {% else %}
                            <td> Aucun </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Date de création du rucher</th>
                        <td>{{ rucher.dateCreationRucher |format_datetime('short' , 'none', locale='fr') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
