{{ form_start(form) }}

    {# Changement du label de l'attribut "nom"   #}
    {{ form_label(form.nom,
        "Nom de l'adhérent") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "nom" #}
    {{ form_widget(form.nom,{'attr': {
        'placeholder': "ex : Dupont",
        'class': "mb-2 mt-1"}} ) }}

    {# Changement du label de l'attribut "prenom"   #}
    {{ form_label(form.prenom,
        "Prénom de l'adhérent") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "prenom" #}
    {{ form_widget(form.prenom,{'attr': {
        'placeholder': "ex : Marie",
        'class': "mb-2 mt-1"}} ) }}

    {# Changement du label de l'attribut "email"   #}
    {{ form_label(form.email,
        "Email de l'adhérent") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "prenom" #}
    {{ form_widget(form.email,{'attr': {
        'placeholder': "ex : marie.dupont@gmail.com",
        'class': "mb-2 mt-1"}} ) }}

    {# Changement du label de l'attribut "adresse"   #}
    {{ form_label(form.adresse,
        "Adresse de l'adhérent") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "adresse" #}
    {{ form_widget(form.adresse,{'attr': {
        'placeholder': "ex : 20 chemin des fraises, 91430 Igny ",
        'class': "mb-2 mt-1"}} ) }}

    {# Changement du label de l'attribut "telephone"   #}
    {{ form_label(form.telephone,
        "Téléphone de l'adhérent") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "telephone" #}
    {{ form_widget(form.telephone,{'attr': {
        'placeholder': "ex : 0601020304",
        'class': "mb-2 mt-1"}} ) }}

<div class="row ml-2">
    <p>
        Choix des activités :
    </p>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-2 text-center text-body">
        {{ form_label(form.isActPotager) }}
        {{ form_widget(form.isActPotager) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isActVerger) }}
        {{ form_widget(form.isActVerger) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isActRucher) }}
        {{ form_widget(form.isActRucher) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isActAnimation) }}
        {{ form_widget(form.isActAnimation) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isActPromotion) }}
        {{ form_widget(form.isActPromotion) }}
    </div>
</div>

<div class="row ml-2">
    <p>
        Pour quelle activité souhaitez-vous recevoir des informations ?
    </p>
</div>

<div class="row justify-content-center mb-3 text-body">
    <div class="col-2 text-center">
        {{ form_label(form.isIntPotager) }}
        {{ form_widget(form.isIntPotager) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isIntVerger) }}
        {{ form_widget(form.isIntVerger) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isIntRucher) }}
        {{ form_widget(form.isIntRucher) }}
    </div>

    <div class="col-2 text-center text-body">
        {{ form_label(form.isIntAnimation) }}
        {{ form_widget(form.isIntAnimation) }}
    </div>
</div>
{% if 'admin' in app.request.uri %}
    <div class="row mt-4">
        <div class="col-5">
            {# Changement du label de l'attribut "isPayed"   #}
            {{ form_label(form.isPayed,
                "L'adhérent a-t-il payé sa cotisation ?") }}
        </div>

        <div class="col-1 text-center text-body">
            {{ form_widget(form.isPayed,{'attr': {
                'class': "mb-2 mt-1"}} ) }}
        </div>
    </div>

    {# Changement du label de l'attribut "typePaiement"   #}
    {{ form_label(form.typePaiement,
        "Type de paiement") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "typePaiement" #}
    {{ form_widget(form.typePaiement,{'attr': {
        'class': "mb-2 mt-1"}} ) }}

    {# Changement du label de l'attribut "typeAdhesion"   #}
    {{ form_label(form.typeAdhesion,
        "Type d'adhésion") }}
    {# Affichage de la zone à remplir du formulaire pour l'attribut "typeAdhesion" #}
    {{ form_widget(form.typeAdhesion) }}
{% else %}
    {{ form_row(form.password.first, {'attr': {'class':
        'form-control'}}) }}
    {{ form_row(form.password.second, {'attr': {'class':
        'form-control'}}) }}
{% endif %}
<div class="button_Formulaire">
    <button type="submit" class="btn btn-outline-success mb-3 mt-3">Enregistrer</button>
</div>

{{ form_end(form) }}
