<h3>Bonjour {{ prenom }} {{ nom }} ! </h3>

<p>
L'association <strong>Igny Vallée Comestible</strong> est heureuse
de vous annoncer que vous êtes maintenant considérés comme adhérent.
</p>
<p>{{ status }}</p>

<p>Vos identifiants de connexion sont :</p>
<ul>
<li>votre adresse email : {{ email }}</li>
<li>votre mot de passe : {{ mdp }}</li>
</ul>

<p>Veuillez changer le mot de passe à la première connexion pour plus de sécurité.</p>

<p>Encore merci de faire partie de notre association.</p>
<p>Nous espérons vous voir rapidement !</p>

L'équipe d'Igny Vallée comestible,
