{% extends 'base.html.twig' %}

{% block title %}Ruchers index{% endblock %}

{% block content %}
<div class="container-fluid">
        {% if is_granted('ROLE_REFERENT') %}
            <h1 class="mt-2"> Liste des ruches  <a href="{{ path('ruches_new') }}"  class="btn btn-success mb-3 mt-3 mr-5 button_creer" >Créer nouvelle ruche</a> </h1>
        {% else %}
            <h1 class="mt-2"> Liste des ruches </h1>
        {% endif %}
    <table class="table table-responsive">
        <div class ="row align-items-center">
            <thead>
            <tr>
                <th class="text-center">Nom de la ruche</th>
                <th class="text-center">Rucher</th>
                <th class="text-center">Modele de la ruche</th>
                <th class="text-center">Emplacement de la ruche</th>
                <th class="text-center">Date d'installation</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        </div>
        <tbody>
        {% for ruch in ruches %}
            <tr>
                <td class="text-center">{{ ruch.nomRuche }}</td>
                <td class="text-center">{{ ruch.rucher.nomRucher }}</td>
                <td class="text-center">{{ ruch.modeleRuche }}</td>
                <td class="text-center">{{ ruch.emplacementRuche }}</td>
                <td class="text-center">{{ ruch.dateInstallationRuche |format_datetime('short' , 'none', locale='fr') }}</td>

                <td class="text-center">
                    {% if is_granted('ROLE_REFERENT') %}
                        <form method="post" action="{{ path('ruches_delete', {'id': ruch.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette ruche ?');">
                            <a href="{{ path('ruches_show', {'id': ruch.id}) }}" class="btn btn-outline-success btn-sm mr-2">Voir plus</a>
                            <a href="{{ path('ruches_show_fdv', {'id': ruch.id}) }}" class="btn btn-outline-danger btn-sm mr-2">Voir Fiches</a>
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ruch.id) }}">
                            <button class="btn btn-sm" >
                                <img src="{{ asset('/build/images/supprimer.svg') }}" class="button_atelier_index"  alt="Supprimer">
                            </button>

                            <a href="{{ path('ruches_edit', {'id': ruch.id}) }}">
                                <img src="{{ asset('/build/images/edit.svg') }}" class="button_atelier_index ml-1 "  alt="Modifier">
                            </a>

                        </form>
                    {% endif %}

                    {% if not is_granted('ROLE_REFERENT') %}
                        <a href="{{ path('ruches_show', {'id': ruch.id}) }}" class="btn btn-outline-success btn-sm mr-2">Voir plus</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Pas de ruches trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block leftside %}
    <div class="filters card text-black bg-light mt-0"> <!--pour la bordure du conteneur-->
        <div class="card-header">Filtrer par </div>
        <div class="card-body">
            <div class="form-check">
                {{ form_start(form) }}

                <span class="badge badge-dark  mb-4">Nom :</span>

                {{ form_widget(form.nom  ,{'attr': {
                    'class': "mb-2"}}  )}}

                <div class="button_Formulaire">
                    <button type="submit" class="btn btn-success mt-3 mr-3">Filtrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
